server:
  port: 8081

spring:
  application:
    name: front-ui
  config:
    import: 'optional:consul:'

  cloud:
    consul:
      host: localhost           # Адрес Consul-агента (по умолчанию localhost)
      port: 8500
      config:
        enabled: true
        format: YAML
        prefix: config
        defaultContext: application
      discovery:
        instance-id: ${spring.application.name}
        preferIpAddress: false   # Использовать IP адрес вместо имени хоста
        health-check-path: /actuator/health
        healthCheckInterval: 15s
        heartbeat:
          enabled: true

  security:
    oauth2:
      client:
        provider:
          keycloak:
            # Ниже - адрес сервера авторизации для получения токена
            issuer-uri: ${issuer-uri}
            #issuer-uri: http://localhost:8080/realms/master # Для запуска локально
            #issuer-uri: http://keycloak:8080/realms/master # Для запуска в Docker
        registration:
          front-ui: # Описание клиента OAuth2
            provider: keycloak
            authorizationGrantType: client_credentials
            client-id: front-ui
            client-secret: BZSkEMkx2BETc6WB6XXV5nHG2BfAcY48
            scope: profile
            clientAuthenticationMethod: client_secret_post # Способ передачи секрета

resilience4j:
  circuitbreaker:
    instances:
      accounts:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
  retry:
    instances:
      responseFromModule:
        maxRetryAttempts: 4
        waitDuration: 4s

#Настройки ниже - для запуска без Consul
#module-accounts: http://localhost:8070/
#module-cash: http://localhost:8092/
#module-exchange-generator: http://localhost:8094/
#module-transfer: http://localhost:8096/

#Настройки ниже - для запуска в Consul, но без использования consul.config
#(при использовании consul.config для настроек ниже нужно создать папку config/application/consul и скопировать весь раскомментированный блок ниже туда
#module-accounts: http://accounts/
#module-cash: http://cash/
#module-exchange-generator: http://exchange-generator/
#module-transfer: http://transfer/